MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=api_user
MYSQL_PASSWORD=123456
MYSQL_DB=transporte_db
REDIS_URL=redis://localhost:6380/0
RABBITMQ_URL=amqp://guest:guest@localhost:5673/
RABBITMQ_QUEUE=reservas_eventos
